<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Zimbra>
      <hosts 
		    callbackUrl="~/rsw.ashx"
		    cookieName="evoUser"
		    defaultLanguageKey="en-US" 
		    defaultUsername="Anonymous"  
		    useLocalAuthenticatedUser="true"
		    enableLocalUserSynchronization="true"
        userSynchronizationCookieName="EvolutionSync"
        stripLocalUserDomain="false"
		    socialSiteUrl="[Full Url of your Zimbra Social Site( e.g. http://community.mysite.com/)]" 
		    socialMembershipAdministrationUsername="admin" 
		    networkDomain=""  
		    networkPassword="" 
		    networkUsername="" 
		    oauthCallbackHandler="~/oauth.ashx"
		    oauthClientId="[Oauth Client Id From Zimbra Social]"
		    oauthSecret="[Oauth Client From Zimbra Social]">
        
          <host name="website" id="a97afd68520f42f925619623aa2dbf21"  /> 
         
      </hosts>
    </Zimbra>
  </sitecore>
</configuration>
