<?xml version="1.0" encoding="utf-8" ?>
<communityServerHosts>
  <host name="default" communityServerUrl="[Community Root Url]">
    <oauth clientId="[Oauth Client ID Here]" 
           clientSecret="[Oauth Secret Here]" 
           callbackUrl="~/oauth.ashx" 
           cookieName="evoUser"
           defaultLanguage="en-US"
           anonymousUsername="Anonymous">
      <localAuthentication enabled ="true" membershipAdministrationUsername="admin" userResolver="Telligent.SitecoreSDK.SitecoreLocalUserResolverWithDomain, Telligent.SitecoreSDK">
        <sso enabled="true" synchronizationCookieName="EvolutionSync" />
      </localAuthentication>
    </oauth>
  </host>
</communityServerHosts>