<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <customHandler>
      <handler trigger="/-/samplehandler/" handler="samplehandler.ashx" />
    </customHandler>
    <Zimbra>
      <hosts 
		    callbackUrl="~/layouts/ZimbraSocialSDKSamples/rsw.ashx"
		    cookieName="evoUser"
		    defaultLanguageKey="en-US" 
		    defaultUsername="Anonymous"  
		    useLocalAuthenticatedUser="true"
		    enableLocalUserSynchronization="true"
        userSynchronizationCookieName="EvolutionSync"
        stripLocalUserDomain="false"
		    socialSiteUrl="http://trunk.local.com/" 
		    socialMembershipAdministrationUsername="admin" 
		    networkDomain=""  
		    networkPassword="" 
		    networkUsername="" 
		    oauthCallbackHandler="~/layouts/ZimbraSocialSDKSamples/oauth.ashx"
		    oauthClientId="e5bd8f4b-bdb1-4829-a56d-ec608a56c3de"
		    oauthSecret="619e9542ad0947cfa9e950263b6b979856b7f376633d451b9952b1048ce8cd95">
        
          <host name="website" id="a97afd68520f42f925619623aa2dbf21"  /> 
         
      </hosts>
    </Zimbra>
  </sitecore>
</configuration>
