<?xml version="1.0" encoding="utf-8" ?>
<communityServerHosts>
  <host id="3DA848BB-0B61-43D8-9332-541558F97887" name="default" communityServerUrl="http://trunk.local.com/">
    <oauth clientId="123456" 
           clientSecret="98765432123456789" 
           callbackUrl="~/oauth.ashx" 
           cookieName="evoUser"
           defaultLanguage="en-US"
           anonymousUsername="Anonymous">
      <localAuthentication enabled ="true" membershipAdministrationUsername="admin" userResolver="">
        <sso enabled="true" synchronizationCookieName="EvolutionSync" />
      </localAuthentication>
    </oauth>
  </host>
</communityServerHosts>